ul {
    display: table;
    margin:  auto;
    border: solid grey;
    width: 13%;
}

h1{
    text-align: center;
}

p{
    font-size: xx-small;
    text-align: center;

}

img{
    display:block;
    margin:auto;
    }